<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  {{#each css_paths}}
  <link rel="stylesheet" href="{{this}}" />
  {{/each}}
  <title>{{title}}</title>
</head>
<body>
{{{content}}}
</body>
</html>
