/*
 * Josh's Custom CSS Reset
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/*
 * Simple Markdown Wiki styling
 */

:root {
  /*
   * Catpuccin "latte" palette
   * See https://github.com/catppuccin/catppuccin for details
   */
  --Rosewater: #dc8a78;
  --Flamingo: #dd7878;
  --Pink: #ea76cb;
  --Mauve: #8839ef;
  --Red: #d20f39;
  --Maroon: #e64553;
  --Peach: #fe640b;
  --Yellow: #df8e1d;
  --Green: #40a02b;
  --Teal: #179299;
  --Sky: #04a5e5;
  --Sapphire: #209fb5;
  --Blue: #1e66f5;
  --Lavender: #7287fd;
  --Text: #4c4f69;
  --Subtext1: #5c5f77;
  --Subtext0: #6c6f85;
  --Overlay2: #7c7f93;
  --Overlay1: #8c8fa1;
  --Overlay0: #9ca0b0;
  --Surface2: #acb0be;
  --Surface1: #bcc0cc;
  --Surface0: #ccd0da;
  --Base: #eff1f5;
  --Mantle: #e6e9ef;
  --Crust: #dce0e8;
  --common-radius: 0.2em;
}

body,html {
  background-color: var(--Base);
  color: var(--Text);
  font-family: system-ui;
}

body {
  max-width: 45em;
  margin: auto;
  padding: 0em 1em 10em 1em;
}

p, h1, h2, h3, h4, h5, h6,
ul, ol, img
{
  margin: 1em 0em;
}

h1 {
  text-align: center;
}

h2 {
  border-bottom: 0.05em solid var(--Crust);
}

h2, h3, h4, h5, h6 {
  color: var(--Subtext1);
}

a {
  color: var(--Lavender);
}

a:visited {
  color: var(--Mauve);
}

a:hover {
  color: var(--Sky);
  text-decoration: underline wavy;
}

blockquote {
  border-radius: var(--common-radius);
  background-color: var(--Mantle);
  padding: 0.5em 1em;
  margin: 0em 0.3em 1em 0em;
  border-left: 0.3em solid var(--Sky);
}

blockquote p:last-of-type {
  margin-bottom: 0em;
}

blockquote p:first-of-type {
  margin-top: 0em;
}

/*
 * Code elements have two main appearances:
 *
 * 1. Inside <pre> element: large multiline code block
 * 2. Anywhere else: small one liner inside other text content
 *
 * We set "embed everywhere" styles for `code` and undo those for multiline
 * blocks with `pre > code`.
 */

code {
  padding: 0em 0.5em;
  background-color: var(--Mantle);
  font-family: ui-monospace, monospace;
  font-size: 0.9rem;
}

pre {
  border-radius: var(--common-radius);
  background-color: var(--Mantle);
  overflow-x: auto;
  padding: 0.5em;
}

pre > code {
  background-color: inherit;
  padding: 0;
}

li > ul, li > ol {
  margin: 0em;
}


table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

thead {
  background-color: var(--Crust);
}

tbody {
  background-color: var(--Mantle);
}

th, td {
  margin: 0;
  text-align: left;
  padding: 0.5em 1em;
}

tr {
  border-bottom: 0.1em solid var(--Crust);
}

tr:last-of-type {
  border-bottom: none;
}

